body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(248, 277, 230);
}
.btn-container {
  position: relative;
}
.btn-play {
  z-index: 3;
  padding-left: 10px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn-box {
  position: absolute;
  background: rgb(58, 58, 250);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  transform-origin: top left;
}
.btn-small-box {
  z-index: 2;
}
.btn-big-box {
  z-index: 1;
}
.btn-container:hover .btn-small-box {
  animation: pulse 1.5s infinite ease-in-out;
}
.btn-container:hover .btn-big-box {
  animation: none;
  animation: pulse 1.5s 0.4s infinite ease-in-out;
}
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes pulse {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.5) translate(-50%, -50%);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.8) translate(-50%, -50%);
    opacity: 0;
  }
}
